.formulario-matricula .declaracao-final {
  font-size: 0.98em;
  color: #b38cb7;
  margin-top: 18px;
  margin-bottom: 8px;
}

.formulario-matricula a {
  color: #a97dca;
  text-decoration: underline;
  font-size: 1em;
  font-weight: 500;
}
